html,body
{
	margin:0;
	height:100%;
}
.quad
{
	width:100px;
	height:100px;
	background:rgb(128,128,128); /* máximo 256 */
	border-radius:50%; /* 50% é sempre redondo */
	float:left;
}
.centro
{
  display:flex;
  align-items:center; /* vertical */
  justify-content:center; /* horizontal */
}
#tabuleiro
{
	width:300px;
	height:300px;
}
